<?xml version="1.0" encoding="UTF-8" ?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="col-12 text-center" wicket:id="notResults">
            <span class="vs-no-results-label">Нет подходящих результатов;</span>
    </div>
    <ul class="pagination" wicket:id="pageContainer">
        <li class="page-item"><a class="page-link" wicket:id="prevPage"><span wicket:id="label"></span></a></li>
        <li class="page-item" wicket:id="pages">
            <a class="page-link" wicket:id="pageLink"><span wicket:id="label"></span></a>
        </li>
        <li class="page-item"><a class="page-link" wicket:id="nextPage"><span wicket:id="label"></span></a></li>
    </ul>
</wicket:panel>