<html xmlns:wicket="http://wicket.apache.org" xml:lang="ru" lang="ru">
<wicket:panel>
    <div class="row row-flex-vertical-end">
        <!--<div class="col-xs-6">-->
            <div class="form-group row col-6">
                <label class="fg-label" wicket:for="from"><wicket:label/></label>
                <div class="col-sm-9" wicket:id="from"/>
            </div>
        <!--</div>-->

        <!--<div class="col-xs-6">-->
            <div class="form-group row col-6">
                <label class="fg-label" wicket:for="to"><wicket:label/></label>
                <div class="col-sm-9" wicket:id="to"/>
            </div>
        </div>
    <!--</div>-->
</wicket:panel>
</html>
