/* triggers (from bootstrap) */

$sm_trigger: 576px;
$md_trigger: 768px;

/* colors */

$vs_main_blue: #006790;
$vs_main_gray_light: #bababa;
$vs_main_pink_light: #fad7e6;
$vs_main_gray: #484652;

$bg_color: #fff8ff;

$text_color: #333333;
$lighter_text_color: #555555;

$error_color: #dc3545;

$border_color: #aaaaaa;

$link_on_violet_color: #ffffff;
$link_on_violet_hover_color: $vs_main_gray_light;

$link_on_pink_color: #ffffff;
$link_on_pink_hover_color: #000000;